.containerForMainPart {
  margin: 70px 0;
  align-content: center;
  padding-left: 13%;
  padding-right: 13%;
  text-align: center;
}

img {
  border-radius: 50%;
}

p {
  display: block;
}

.popUp {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  margin: 20px;
}

.spanButton {
  display: inline-block;
  border: 2px solid rgb(218, 217, 217);
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  width: 150px;
}

.popUp {
  display: block;
  margin: auto;
}
