.navbar.navbar-expand-lg.navbar-light.bg-light {
  text-align: center;
  background-color: #a2b8b7!important;
  padding-left: 13%;
  padding-right: 13%;
}

.collapse.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}
.header a{
  color:white!important;
}