.oneUserMainBox{
width: 70%;

margin-left: 15%;
margin-top: 2%;
padding: 3%;
}

.userBox{
    display: flex;
    justify-content: left;
margin-top: 25px; 
border: 1px solid rgb(207, 203, 203);
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.input{
width: 100%;
background-color: rgb(135, 172, 240);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.img{
padding: 10px;
    }

.span{
    display: inline;
    margin-top: 15px;
    margin-left: 15px;
}


.p{
margin-top: 10px;
display: block;
}

