.containerRight{ 
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    margin: 50px;
    }

    label{
        padding: 5px;
        margin: 5px;
        display: inline;
    }

    input{
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        
    }

    .login{
        width: 100%;
    }