*{
    box-sizing: border-box;
    border-collapse: collapse;
}
.containerFeed {
    width: 1200px;
    margin: 0 auto;
}

.containerFeed div {
    text-align: center;
}

/*VIDEO*/

.videoPost-player {
    width: 100%;
    border: 1px solid #a2b8b7;
    margin-top: 50px;
    background-color: #eaf6e8;
}

.videoPost-player iframe {
    width: 100%;
}

.videoPost-comments {
    background-color: #eaf6e8;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

/*IMG*/

.imagePost-image img {
    width: 100%;
    padding: 40px;
}

.imagePost-details {
    display: flex;
    justify-content: space-around;
    background-color: #eaf6e8;
    padding: 10px 0;
    border: 1px solid #a2b8b7;
}

/*TEXT*/

.textPost-text {
    background-color: #def2f9;
    margin: 40px 0;
    border: 1px solid #1a1d1d;
}

.textPost-text p {
    padding: 40px;
    color: #0a1316;
}

.textPost-details {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid black;
}

/*POST DETAILS*/

.post-details {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    color: black;
}

li {
    list-style: none;
}

.imagePost-box {
    width: 100%;
    border: 1px solid #a2b8b7;
    background-color: #def2f9;
    margin: 50px 0 50px 0;
}